*.d
*.o
*.crf
# USER目录：只跟踪c/h/uvprojx，USER下其他文件忽略
CODE/original_code/USER/
!CODE/original_code/USER/
CODE/original_code/USER/**/*
!CODE/original_code/USER/**/
!CODE/original_code/USER/**/*.c
!CODE/original_code/USER/**/*.h
!CODE/original_code/USER/**/*.uvprojx

# ========== 新增：Keil编译产物 ==========
CODE/original_code/OBJ/
*.hex
*.axf
*.lnp
*.sct
*.htm
*.dep
*.build_log.htm

# Keil个人窗口配置
*.uvoptx
*.uvopt
